<html>
<body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<div ng-app="myApp" ng-controller="cntrl">
<form>
Student ID: <input type="text" ng-model="id" name="id" ng-disabled="obj.idisable">
Student Name: <input type="text" ng-model="name" name="id">
<input type="button" value="{{btnName}}" ng-click="insertdata()" >
{{msg}}

</form>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Roll No</th>
		</tr>	
	</thead>
	<tbody>
		<tr ng-repeat="student in data">
				<td>{{student.id}}</td>
				<td>{{student.name}}</td>
				<td><button ng-click="deleteStud(student.id);">Delete</button></td>
				<td><button ng-click="editStud(student.id, student.name);">Edit</button></td>

		</tr>
	</tbody>
</table>
</div>
<script>
var app=angular.module('myApp',[]);
app.controller('cntrl', function($scope,$http){
	$scope.obj={'idisable':false};
	$scope.btnName="Insert";

	$scope.insertdata=function(){
		$http.post("insert.php",{'id':$scope.id, 'name':$scope.name, 'btnName':$scope.btnName})
		.success(function(){
			$scope.msg="Data Inserted";
			$scope.displayStud();

		})

	}

	$scope.displayStud=function(){
		$http.get("select.php")
		.success(function(data){
			$scope.data=data
		})
	}
	$scope.deleteStud=function(id){
		$http.post("delete.php",{'id':id})
		.success(function(){
				$scope.msg="Data Deletion successfull";
				$scope.displayStud();


		})

	}

	$scope.editStud=function(id, name)
	{
		$scope.id=id;
		$scope.name=name;
		$scope.btnName="Update";
		$scope.obj.idisable=true;
		$scope.displayStud();

	}

});


</script>
</body>

</html>