@font-face {
    font-family: "light";
    src: url('../fonts/light.otf');
}

body {
    font-family: "light";
}

.center {
    text-align: center;
    font-size: 20px;
}
.btn.btn-primary {
    background-color: #d8d8d7;
    outline: 0;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

